grant{
	permission java.security.AllPermission;
	permission java.net.SocketPermission "127.0.0.1", "connect,accept,listen,resolve";
    permission java.net.SocketPermission "*", "connect,accept,listen,resolve";
    permission java.net.SocketPermission "*:1099", "connect,accept,listen,resolve";
};